body {
    background: url("https://upload.wikimedia.org/wikipedia/commons/c/c1/Verona_bridge_c1825.jpg") no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

#main {
    height: 900px;
    margin: 120px;
    border-radius: 20px;
    background-color: rgba(70, 70, 70, .9);
}
#header {
    height: auto;
    padding: 15px;
}
.jumbotron {
    background-color: transparent !important;
}
h1 {
    font-family: Josefin Sans;
    padding-top: 30px;
    font-size: 80px;
    color: white;
}
h2 {
    font-family: Cinzel Decorative, cursive;
    font-size: 25px;
    color: white;
}
#paragraph {
    font-family: Cinzel Decorative, cursive;
    font-size: 15px;
    color: white;
    padding: 20px;
    text-align: justify;
}
#mycarousel {
    height: 500px;
}

/*-------------show---------------*/

#main2 {
    height: 900px;
    margin: 120px;
    border-radius: 20px;
    background-color: rgba(255, 255, 255, 0.89)
}
h3 {
    font-family: Cinzel Decorative, cursive;
    padding-top: 20px;
    font-size: 40px;
}
#
