body {
    /*background-color: rgba(70, 200, 70, 1);*/
    background: url("/images/Verona_bridge_c1825.jpg") no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    font-family: Cinzel Decorative, cursive;
}
#main {
    margin: 120px;
    border-radius: 20px;
    background-color: rgba(70, 70, 70, .9);
    padding: 20px;
}
#header {
    height: auto;
    /*padding: 15px;*/
}
.panel {
    background-color: transparent !important;
}
.jumbotron {
    background-color: transparent !important;
}
h1 {
    font-family: Josefin Sans;
    font-size: 80px;
    color: white;
}
h2 {
    font-size: 25px;
    color: white;
}
p {
    font-family: Josefin Sans;
    font-size: 18px;
}
#paragraph {
    font-size: 15px;
    color: white;
    padding-top: 20px;
    padding-bottom: 20px;
    text-align: justify;
}
#paragraph2 {
    font-size: 15px;
    color: white;
    padding-top: 20px;
    text-align: justify;
}
#mycarousel {
    height: 500px;
}
#left-float {
    padding-left: 40px;
}
.btn-info {
    background-color: #424242;
    border-color: #f5f5f5;
}
.btn {
    margin: 20px;
    font-family: Cinzel Decorative, cursive;
}
ul {
    padding: 0px;
    margin: 0px;
    list-style-type: none;
}

/*-------------show---------------*/

#main2 {
    margin: 120px;
    border-radius: 20px;
    background-color: rgba(255, 255, 255, 0.89);
    padding: 40px;
}
h3 {
    font-family: Josefin Sans;
    font-size: 80px;
}
h4 {
    font-size: 40px;
}
h5 {
    font-size:20px;
    font-weight: bolder;
}
img {
    max-width: 100%;
}
iframe {
    max-width: 100%;
}
.navbar .navbar-nav {
    display: inline-block;
    float: none;
    vertical-align: top;
}
#mydirective {
    font-size: 40px;
}
.left {
    float: left;
    margin: 10px;
}
.right {
    float: right;
    margin: 10px;
}
.standalone {
    clear: both;
}
.paragraph {
    text-align: justify;
    margin: 10px;
}
.picture-R {
    box-shadow: 5px 5px 5px #777777;
    margin-bottom: 10px;
    margin-right: 10px;
    /*transform: rotate(-2deg);*/
}
.picture-L {
    box-shadow: 5px 5px 5px #777777;
    margin-bottom: 10px;
    margin-left: 5px;
    transform: rotate(-2deg);
}

/*---------------- show single -----------*/

#amenities {
    text-align: left;
}
#conditions {
    text-align: right;
}
#description {
    padding-top: 20px;
    text-align: justify;
}
#address {
    padding-top: 30px;
    text-align: center;
}
.google_maps {
    width: inherit;
    frameborder: 0;
    border: 20px;
    padding: 20px;
}

/*------------- slider ------------*/




@media screen and (max-width: 800px) {

    #main {
        margin: 0 auto;
        padding: 0px;
    }
    #main2 {
        margin: 0px;
        padding: 0px;
    }
    h1 {
        width: auto;
        font-size: 50px;
        line-height: 40px;
    }
    h3 {
        font-size: 50px;
        line-height: 60px;
    }
    #amenities {
    text-align: center;
    }
    #conditions {
    text-align: center;
    }
}
