/*------------------index---------------*/

body {
    /*background-color: rgba(70, 200, 70, 1);*/
    background: url("/images/Verona_bridge_c1825.jpg") no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    font-family: Cinzel Decorative, cursive;
    color: #777;
}
#main {
    margin: 120px;
    border-radius: 20px;
    background-color: rgba(70, 70, 70, .9);
    padding: 20px;
}
#header {
    height: auto;
    /*padding: 15px;*/
}
.panel {
    background-color: transparent !important;
}
.jumbotron {
    background-color: transparent !important;
}
h1 {
    font-family: Josefin Sans;
    font-size: 90px;
    color: white;
}
h2 {
    font-size: 25px;
    color: white;
}
p {
    font-family: Josefin Sans;
    font-size: 18px;
}
#paragraph {
    font-size: 15px;
    color: white;
    padding-top: 20px;
    padding-bottom: 20px;
    text-align: justify;
}
#paragraph2 {
    font-size: 15px;
    color: white;
    padding-top: 20px;
    text-align: justify;
}
#mycarousel {
    height: 500px;
}
#left-float {
    padding-left: 40px;
}
.btn-info {
    background-color: #424242;
    border-color: #f5f5f5;
}
.btn-info:hover {
    background-color: #f5f5f5;
    border-color: #f5f5f5;
    color: rgba(70, 70, 70, .9);
    font-weight: bolder;
}
.btn {
    margin: 20px;
    font-family: Cinzel Decorative, cursive;
}

.btn-info.active.focus,.btn-info.active:focus, .btn-info.active:hover, .btn-info:active.focus,.btn-info:active:focus
{background-color: #f5f5f5;
    border-color: #f5f5f5;
    color: rgba(70, 70, 70, .9);
    font-weight: bolder;
}
ul {
    padding: 0px;
    margin: 0px;
    list-style-type: none;
}

/*-------------show---------------*/

#main2 {
    margin: 120px;
    border-radius: 20px;
    background-color: rgba(255, 255, 255, 0.89);
    padding: 40px;
}
h3 {
    font-family: Josefin Sans;
    font-size: 90px;
    color: black;
}
h4 {
    font-size: 50px;
    color: black;
}
h5 {
    font-size: 18px;
    background-color: #E7E7E7;
    line-height: 45px;
}
h6 {
    font-size: 15px;
    color: black;
}
img {
    max-width: 100%;
}
iframe {
    max-width: 100%;
}
.navbar .navbar-nav {
    display: inline-block;
    float: none;
    vertical-align: top;
}
#mydirective {
    font-size: 40px;
}
.left {
    float: left;
    margin: 10px;
}
.right {
    float: right;
    margin: 10px;
}
.standalone {
    clear: both;
}

/*.row{
    overflow: hidden;
}

[class*="col-"]{
    background-color: white;
    margin-bottom: -99999px;
    padding-bottom: 99999px;
}*/

.paragraph {
    text-align: justify;
    margin: 10px;
}
.picture-R {
    box-shadow: 5px 5px 5px #777777;
    margin-bottom: 10px;
    margin-right: 10px;
    /*transform: rotate(-2deg);*/
}
.picture-L {
    box-shadow: 5px 5px 5px #777777;
    margin-bottom: 10px;
    margin-left: 5px;
    transform: rotate(-2deg);
}

/*---------------- show single -----------*/
.textbox {
    background: #f8f8f8;
    border: 1px solid #e7e7e7;
    border-radius: 4px;
    padding: 10px;
    padding-top: 0px;
}
#amenities {
    margin-left: 10%;
    margin-right: 20%;
    margin-bottom: 20px;

}
#pricing {
    margin-bottom: 20px;
}
#conditions {
    margin-left: 20%;
    margin-right: 10%;
}
#description {
    margin-top: 20px;
    text-align: justify;
}

#address {
    padding-top: 30px;
    text-align: center;
}
.google_maps {
    width: inherit;
    frameborder: 0;
    border: 20px;
    padding: 20px;
}

/*------------- media ------------*/

@media screen and (max-width: 800px) {
    .container-fluid {
        padding-left: 0;
        padding-right: 0;
    }
    #main {
        margin:0;
        margin-top: 20px;
        margin-bottom: 20px;
        padding: 5px;
    }
    #main2 {
        margin:20px;
        padding: 5px;
        overflow: hidden;
    }
    h1 {
        width: auto;
        font-size: 50px;
    }
    h3 {
        font-size: 50px;
        line-height: 60px;
    }
    h4 {
        font-size: 30px;
    }
    #amenities {
        margin-left: 0px;
        margin-right: 0px;
    }
    #conditions {
       margin-left: 0px;
       margin-right: 0px;
   }
   #directions {
margin-top: 10px;
   }

    .picture-L {
        transform: none;
    }

}
