<div id="main2" align="center" ng-app="appBB" ng-controller="BBController as bbs">
    <div class="page-header" id="header">

        <h3>RESIDENZA CARDUCCI</h3>

    </div>
    <nav class="navbar navbar-default" id="navbar">
        <div>
            <ul class="nav navbar-nav">
                <li><a ui-sref="home">HOME</a></li>
                <li ng-class="{ active : bbs.active == 1}"><a ui-sref="showSingle({id:1})">SUITE SUD</a></li>
                <li ng-class="{ active: bbs.active == 2 }"><a ui-sref="showSingle({id:2})">SUITE NORD</a></li>
                <li ng-class="{ active: bbs.active == 3 }"><a ui-sref="showSingle({id:3})">VERAZZANO</a></li>
            </ul>
        </div>
    </nav>

    <div>
        <div class="panel">
        <div id="slider-container">
            <h4>{{bbs.apartments[bbs.myParams].name}}</h4>
        </div>
        <div class="row">
            <slider images="bbs.arrayOfImageObj"></slider>
            <!-- <slider images="bbs.apartments[bbs.myParams]"></slider> -->

        </div>
        </div>
        <div class="panel">
            <div class="row">
                <div class="col-xs-4">
                    <div id="amenities">
                        <ul>
                            <h5>amenities</h5>
                            <li ng-repeat="apt in bbs.apartments[bbs.myParams].amenities"><p>{{apt}}</p></li>
                        </ul>
                    </div>
                </div>
                <div class="col-xs-4">
                    <div id="pricing">
                        <h5>pricing</h5>
                        <p>{{bbs.apartments[bbs.myParams].pricing}}</p>
                    </div>
                </div>
                <div class="col-xs-4">
                    <div id="conditions">
                        <h5>conditions</h5>
                        <ul>
                            <li ng-repeat="apt in bbs.apartments[bbs.myParams].conditions"><p>{{apt}}</p></li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-12">
                    <div id="description">
                        <h5 align="center">description</h5>
                        <p>{{bbs.apartments[bbs.myParams].description}}</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="panel">
            <div id="google_maps" class="row">
                <div class="col-xs-8">
                    <iframe frameborder="0" scrolling="no" marginheight="0" marginwidth="0" width="500" height="443" ng-src="{{bbs.apartments[bbs.myParams].map}}">
                    </iframe>
                </div>
                <div class="col-xs-4" align="justify">
                    <h5>- From the Airport</h5>
                    <p>{{bbs.apartments[bbs.myParams].directions[0]}}</p>
                    <h5>- From the Station</h5>
                    <p>{{bbs.apartments[bbs.myParams].directions[1]}}</p>
                    <p>{{bbs.apartments[bbs.myParams].directions[2]}}</p>
                    <h5>- By Car</h5>
                    <p>{{bbs.apartments[bbs.myParams].directions[3]}}</p>
                    <p>{{bbs.apartments[bbs.myParams].directions[4]}}</p>
                </div>
            </div>
        </div>

        <div id="address">
            <p>{{bbs.apartments[bbs.myParams].address.street}}</p>
            <p>{{bbs.apartments[bbs.myParams].address.City}}</p>
            <p>{{bbs.apartments[bbs.myParams].address.Zip}}</p>
            <p>{{bbs.apartments[bbs.myParams].address.Country}}</p>
            <p>{{bbs.apartments[bbs.myParams].address.Tel}}</p>
            <p>{{bbs.apartments[bbs.myParams].address.Email}}</p>
            <!-- {{"toggle contact form"}} -->
        </div>

    </div>
</div>
