<div id="main2" align="center" ng-app="appBB" ng-controller="BBController as bbs">
    <div class="page-header" id="header">

        <h3>RESIDENZA CARDUCCI</h3>

    </div>
    <nav class="navbar navbar-default" id="navbar">
        <div>
            <ul class="nav navbar-nav">
                <li><a ui-sref="intro">INTRO</a></li>
                <li><a ui-sref="show">HOME</a></li>
                <li ng-class="{ active : bbs.active == 1}"><a ui-sref="showSingle({id:1})">SUITE SUD</a></li>
                <li ng-class="{ active: bbs.active == 2 }"><a ui-sref="showSingle({id:2})">SUITE NORD</a></li>
                <li ng-class="{ active: bbs.active == 3 }"><a ui-sref="showSingle({id:3})">VERAZZANO</a></li>
            </ul>
        </div>
    </nav>


    <div class="panel">
        <div id="slider-container">
            <h4>{{bbs.apartments[bbs.myParams].name}}</h4>
        </div>
        <div class="row">
            <slider images="bbs.arrayOfImageObj"></slider>
            <!-- <slider images="bbs.apartments[bbs.myParams]"></slider> -->
        </div>
    </div>
    <div class="panel">
        <div class="row">
            <div class="col-xs-12 col-md-4">
                <div id="amenities" class="textbox">
                    <ul>
                        <h5>AMENITIES</h5>
                        <li ng-repeat="apt in bbs.apartments[bbs.myParams].amenities">
                            <p>{{apt}}</p>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="col-xs-12 col-md-4">
                <div id="pricing" class="textbox">
                    <h5>PRICING</h5>
                    <p>{{bbs.apartments[bbs.myParams].pricing}}</p>
                </div>
            </div>
            <div class="col-xs-12 col-md-4">
                <div id="conditions" class="textbox">
                    <h5>CONDITIONS</h5>
                    <ul>
                        <li ng-repeat="apt in bbs.apartments[bbs.myParams].conditions">
                            <p>{{apt}}</p>
                        </li>
                    </ul>
                </div>
            </div>


        </div>
        <div class="row">
            <div class="col-xs-12">
                <div id="description" class="textbox">
                    <h5 align="center">DESCRIPTION</h5>
                    <p>{{bbs.apartments[bbs.myParams].description}}</p>
                </div>
            </div>
        </div>
    </div>
    <div class="panel">

        <div id="google_maps" class="row">
            <div class="col-xs-12 col-md-6">
                <iframe frameborder="0" scrolling="no" marginheight="0" marginwidth="0" width="500" height="443" ng-src="{{bbs.apartments[bbs.myParams].map}}">
                </iframe>

            </div>
            <div class="col-xs-12 col-md-6" align="justify">
                <div id="directions" class="textbox">
                    <h5 align="center">DIRECTIONS</h5>
                        <h6>
                        <img src="./images/png/transport.png" alt="" width="40px"> from the airport</h6>
                    <p>{{bbs.apartments[bbs.myParams].directions[0]}}</p>
                    <p>{{bbs.apartments[bbs.myParams].directions[1]}}</p>

                        <h6><img src="./images/png/transport-1.png" alt="" width="40px"> from the station</h6>

                    <p>{{bbs.apartments[bbs.myParams].directions[2]}}</p>
                    <p>{{bbs.apartments[bbs.myParams].directions[3]}}</p>
                    <p>{{bbs.apartments[bbs.myParams].directions[4]}}</p>

                        <h6><img src="./images/png/transport-2.png" alt="" width="40px">   by car</h6>
                    <p>{{bbs.apartments[bbs.myParams].directions[5]}}</p>
                    <p>{{bbs.apartments[bbs.myParams].directions[6]}}</p>
                </div>
            </div>
        </div>
    </div>

    <div id="address" align="center">
        <p>{{bbs.apartments[bbs.myParams].address.street}}, {{bbs.apartments[bbs.myParams].address.City}}
        </p>
        <p>{{bbs.apartments[bbs.myParams].address.Zip}}, {{bbs.apartments[bbs.myParams].address.Country}}</p>
        <p>{{bbs.apartments[bbs.myParams].address.Tel}}</p>
        <a href="mailto:{{bbs.apartments[bbs.myParams].address.Email}}">{{bbs.apartments[bbs.myParams].address.Email}}</a>
        <!-- {{"toggle contact form"}} -->
    </div>

</div>
